include header
include components
html
    head
        link(rel="stylesheet" type="text/css" href="./../assets/styles/channel.css")
        script(src="./../assets/scripts/channel.js" defer)
        script.
            const cid = `!{channel.id}`
    body
        article
            #head
                img#pfp(src=channel.pic)
                span#nick=channel.nick
                #subsDiv
                    button#subs
                        span.icon.fa-fw.fas.fa-heart 
                        | #{channel.subs}
                        if (my.subsing)
                            label.desc &nbsp;성원중
            main
                section#section-owner
                    .head
                        i.fa-fw.fas.fa-user
                        |  주인장
                    .body
                        img#owner-pfp(src=channel.pic)
                        .body
                            #user-panel
                                .leaf=channel.videoLen
                                | #{channel.nick}
                            .desc=channel.about
                section#section-subsing
                    .head
                        i.fa-fw.fas.fa-users
                        |  성원중
                    .body
                        - for (const item of channel.subsing)
                            a.item(href=`/channel/${item.id}`)
                                img(src=item.profilePic)
                                | &nbsp;
                                | #{item.nick}
                                span#subs
                                    span.icon.fa-fw.fas.fa-heart 
                                    | #{item.subscribers}
                section#section-videos
                    .head
                        i.fa-fw.fas.fa-server
                        |  동영상
                    .body